
<!-- <div class="cs-modal-overlay"></div> -->
<div class="cs-modal" id="modal-title">
  <header class="cs-modal-header">
    <h3 class="cs-modal-title">Título do site</h3>
    <a href="#fechar" title="Fechar Modal" data-close="modal" class="cs-ico-close"></a>
  </header>
  <div class="cs-modal-content">
         
    <br>
    <p>Evite alterar o título do site com frequência, o Google e outros buscadores utilizam essa informação para encontrar seu site mais facilmente.
Este título será exibido nos resultados de busca e na aba do navegador.</p>

    <br><br>
    <label class="cs-label-block">
      <b class="cs-text-label">Título do site</b>
      <input type="text" class="cs-field" placeholder="Dica: coloque um nome com até 50 caracteres">
    </label>
    <br><br>
    
  </div>
  <div class="cs-modal-footer">
    <button data-close="modal" class="cs-btn">Cancelar</button>
    <button data-close="modal" class="cs-btn-primary">OK</button>
  </div>
</div>
