
<div class="cs-modal" id="modal-google">
  <header class="cs-modal-header">
    <h3 class="cs-modal-title">Aparecer no Google</h3>
    <a href="#fechar" title="Fechar Modal" data-close="modal" class="cs-ico-close"></a>
  </header>
  <div class="cs-modal-content">
  <br>
         
    <p>O Criador de Sites é otimizado para o Google, porém é necessário que você siga também algumas dicas para melhorar ainda mais o posicionamento do seu site nos resultados de busca. Por isso separamos 3 dicas principais para te ajudar nisto.</p>
    <p><b>Você sabe o que é SEO?</b></p>
    <p>SEO é um conjunto de técnicas que tem como objetivo tornar os sites mais amigáveis para os sites de busca, são trabalhadas palavras-chave no conteúdo do site, nomenclatura das imagens, títulos e links. Tudo isto para que ele fique melhor posicionado nos resultados de busca e as pessoas o encontrem com mais facilidade.</p>
    <img src="<%= base_url %>/assets/images/configurar_google.jpg" alt="Conteúdo fake">
    <br><br>
      
  </div>
  <div class="cs-modal-footer">
    <button data-close="modal" class="cs-btn">Cancelar</button>
    <button data-close="modal" class="cs-btn-primary">OK</button>
  </div>
</div>
