
<div class="cs-modal" id="modal-google">
  <header class="cs-modal-header">
    <h3 class="cs-modal-title">Aparecer no Google</h3>
    <a href="#fechar" title="Fechar Modal" data-close="modal" class="cs-ico-close"></a>
  </header>
  <div class="cs-modal-content">
  <br>
         
    <img src="<%= base_url %>/assets/images/configurar_google.jpg" alt="Conteúdo fake">
    <br><br>
      
  </div>
  <div class="cs-modal-footer">
    <button data-close="modal" class="cs-btn">Cancelar</button>
    <button data-close="modal" class="cs-btn-primary">OK</button>
  </div>
</div>
