

<div class="cs-modal cs-modal-confirm" id="modal-remove-page">
  <div class="cs-modal-content">
    <h3 class="title-confirm">Tem certeza que deseja apagar?</h3>
    <p>Todos os elementos que estão dentro desta seção também serão apagados.</p>
    <button class="cs-btn-confirm">Apagar</button>
    <button data-close="modal" class="cs-btn">Cancelar</button>
  </div>
</div>
