
<!-- <div class="cs-modal-overlay"></div> -->
<div class="cs-modal" id="modal-google-old">
  <header class="cs-modal-header">
    <h3 class="cs-modal-title">Configurar site</h3>
    <a href="#fechar" title="Fechar Modal" data-close="modal" class="cs-ico-close"></a>
  </header>
  <div class="cs-modal-content">
      <div class="cs-modal-tab">
        <input type="radio" id="cs-image-tab-send" name="cs-image-tabs" checked="checked">
        <label for="cs-image-tab-send" class="cs-pointer">Título do site</label>

        <input type="radio" id="cs-image-tab-my" name="cs-image-tabs">
        <label for="cs-image-tab-my" class="cs-pointer">Aparecer no Google</label>

        <div class="cs-image-tabs">
          <div class="cs-image-tab cs-image-tab-send">
            <br><br>
            <p>Evite alterar o título do site com frequência, o Google e outros buscadores utilizam essa informação para encontrar seu site mais facilmente.
Este título será exibido nos resultados de busca e na aba do navegador.</p>

              <br>
              <label class="cs-label-block">
                <b class="cs-text-label">Título do site</b>
                <input type="text" id="title-page" class="cs-field" placeholder="Dica: coloque um nome com até 50 caracteres">
              </label>
          </div>
          <div id="tab-seo" class="cs-image-tab cs-image-tab-my">
            <br><br>
            <p>O Criador de Sites é otimizado para o Google, porém é necessário que você siga também algumas dicas para melhorar ainda mais o posicionamento do seu site nos resultados de busca. Por isso separamos 3 dicas principais para te ajudar nisto.</p>
            <p><b>Você sabe o que é SEO?</b></p>
            <p>SEO é um conjunto de técnicas que tem como objetivo tornar os sites mais amigáveis para os sites de busca, são trabalhadas palavras-chave no conteúdo do site, nomenclatura das imagens, títulos e links. Tudo isto para que ele fique melhor posicionado nos resultados de busca e as pessoas o encontrem com mais facilidade.</p>
            <img src="<%= base_url %>/assets/images/configurar_google.jpg" alt="Conteúdo fake">

          </div>
        </div>
      </div>
  </div>
  <div class="cs-modal-footer">
    <button data-close="modal" class="cs-btn">Cancelar</button>
    <button data-close="modal" class="cs-btn-primary">OK</button>
  </div>
</div>
